* {
	-o-transition: all 0.2s linear !important;;
	-moz-transition: all 0.2s linear !important;;
	-khtml-transition: all 0.2s linear !important;;
	-webkit-transition: all 0.2s linear !important;;
	-ms-transition: all 0.2s linear !important;;
	transition: all 0.2s linear !important;	;
}
body {
	margin-top: 50px;
	margin-bottom: 50px;
	background: none;

	font-family: 'helvetica neue', sans-serif; 
	font-weight: 300;
	-webkit-font-smoothing: antialiased !important;
	font-smoothing: antialiased !important;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004) !important;

	color: rgba(255,255,255,1);
	overflow: hidden;
	font-size: 20px;
}
a {
	color: rgba(255,255,255,0.6);
	text-decoration: none;
}
a:hover {
	color: rgba(255,255,255,1);
	text-decoration: none;
}
h1, .h1, h2, .h2, h3, .h3 {
	font-size: 36px;
	margin-bottom: 25px;
	font-weight: 300;
}
.full {
	/* CHANGE THE URL TO CHANGE THE BACKGROUND PHOTO */
	background: url('../img/idea2.gif') no-repeat ; /* center center fixed*/
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.full:before {
	content: ""; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	display: block; 
	position: absolute;
	z-index: 2;

	/* CHANGE THIS TO -black.png / -blue.png / -green.png / -khaki.png / -sepia.png TO CHANGE THE TINT OF THE BACKGROUND */
	background: url('../img/bg/tint-blue.png'); 
}
#video_background {
    position: fixed;
    top: 0px;
    right: 0px;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 1;
    overflow: hidden;
}

.navbar-inverse {
	background-color: rgba(0,0,0,0.8);
	border-color: rgba(0,0,0,0.8);
}

.main {
	position: absolute;
	z-index: 3;
	left: 15px;
	right: 15px;
}
.modal-header {
	border-color: rgba(255,255,255,0.2);
}
.modal-title {
	padding: 0 5px;
	font-weight: 300;
	font-size: 26px;
}
.modal-content {
	background: rgba(0,0,0,0.6);
}
.modal-content p {
	font-size: 16px;
}
.close {
	font-weight: 300;
	color: #ddd;
	text-shadow: none;
	opacity: 1;
}
.close:hover, .close:focus {
	color: #fff;
	opacity: 1;
}
.social-buttons {
	margin: 25px 0;
}
.social-buttons a {
	display: inline-block;
	margin-right: 10px;
}

@media screen and (min-width:768px) {
	.main {
		bottom: 1.5em;
	}
}