/* Sticky footer styles
-------------------------------------------------- */

html {
  position: relative;
  min-height: 100%;
  background: none;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  font-size: 18px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  background: none;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: rgba(0,0,0,0.8);
  color: #9d9d9d;
}

.main {
  width: 100%;
  margin-top: 10em;
}


.navbar {
  background-color: rgba(0,0,0,0.8);
  color: #9d9d9d;
  border-bottom: none;
}

.navbar-default .navbar-nav > li > a:focus, .navbar-default .navbar-nav > li > a:hover {
  color: white;
}

/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */

body > .container {
  padding: 60px 15px 0;
}
.container .text-muted {
  margin: 20px 0;
}

.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
}

code {
  font-size: 80%;
}



/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


@media only screen and (min-width: 992px) {

  html, body {
    background: url(../img/idea2.gif) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }


  .main {
    margin-top: 0;
    position: absolute;
    bottom: 6em;
  }
}